<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Au10tix - MS</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <p>{{ message }}</p>
  </div>
  <script>
    const baseUrl = window.location.origin
    new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue.js!',
        allDocuments: null
      },
      mounted() {
        if (!this.allDocuments) this.getAllDocs()
      },
      methods: {
        async getAllDocs() {
          fetch(baseUrl + '/all')
            .then(res => res.json())
            .then(data => this.allDocuments = data)
            .catch(err => console.error('failed to fetch all docs - ', err))
        }
      }
    })
  </script>
</body>

</html>
